In [1]:
import pandas as pd

In [5]:
ranking = '../evaluation/resources/2020/jsonruns/p_controller_default_nle_meta_9_1_theta=0.9.json'
eval_result = '../evaluation/resources/2020/eval_results/p_controller_default_nle_meta_9_1_theta=0.9.tsv'

In [32]:
gt = '../pre_processing/resources/evaluation/2020/TREC-Fair-Ranking-eval-sample.json'

In [6]:
rdf= pd.read_json(ranking,lines=True)

In [38]:
gtdf = pd.read_json(gt, lines=True).explode('documents')
gtdf['doc_id'] = gtdf.documents.apply(lambda row: row.get('doc_id'))
gtdf['doc_rel'] = gtdf.documents.apply(lambda row: row.get('relevance'))
reldf = gtdf[['qid','query','doc_id','doc_rel']]
reldf

,qid,query,doc_id,doc_rel
0,9087,lepidium sativum,40d8bea494d4ff4c46f7ad5cb2dcdaa6f96ed5a4,1
0,9087,lepidium sativum,008a2a2c765485af2e035a2572ba9fc1102eabff,1
0,9087,lepidium sativum,4a1472c575488ed9acee6c5481f68b95a0c34092,0
0,9087,lepidium sativum,ff8df0745136fb183ea72b783ff38f8a7ad5ceec,0
0,9087,lepidium sativum,90605deb1da5e3d5548da12dc130fc0341a6a255,0
0,9087,lepidium sativum,cbc33164f9db97698901f130f399f2898d856267,0
0,9087,lepidium sativum,6b70f398278146116baa4865582c36f5550f953a,0
0,9087,lepidium sativum,c68374b97eb2c214afd3c282175f664fc37c5682,0
0,9087,lepidium sativum,34ba4f3d2a38b88153308f2a7f12651b440f5812,0
0,9087,lepidium sativum,efe0b6115d460fcd2173fc04d113694f1ded8692,0
0,9087,lepidium sativum,dff096df325b4b1022c0ec4b5abd1b0ddaa7b304,0
1,74172,powerline scene classification and reconstruction,c2d1616d2fd37040bfe6efde35162589234c26b5,0
1,74172,powerline scene classification and reconstruction,16cb9f1859c6d8fb87edcdb10b8c5b8a19b41aaf,0
1,74172,powerline scene classification and reconstruction,883495c182b26e83557c57d82e9e730e3faa1806,0
1,74172,powerline scene classification and reconstruction,45487720a709b1283b7dd02614de3eefbeda4cea,1
1,74172,powerline scene classification and reconstruction,edf33cdd236f1c965b16dda3e3f7e3869d12ea30,0
1,74172,powerline scene classification and reconstruction,78cce94d328225a4cc4e61783dcd365628df8df0,0
1,74172,powerline scene classification and reconstruction,2535ef7667e8dcd4034ad54548774a9be97f478e,0
1,74172,powerline scene classification and reconstruction,7f702c477be799e599db43cced12da98777f400d,0
1,74172,powerline scene classification and reconstruction,c8c494ee5488fe20e0aa01bddf3fc4632086d654,0
1,74172,powerline scene classification and reconstruction,02d1a79a5ff4967fe5c146a331c44bb51d84d3e0,1
2,34981,homework,2c88b97376f69041f4e3cab0afac7920976e3278,0
2,34981,homework,f69d97269ae013bf30384ff3830d43a5d470cc0e,0
2,34981,homework,d364ab4ee2d27563df8e901e718f57fbc129a6b3,1
2,34981,homework,5a0c90f963b181968d35a6ffbd7d740d1e1cf86c,0
2,34981,homework,6b7770893ace1abfcf0cd646e70261a8680e94f6,0
2,34981,homework,b69d2357ae9679f9afab784057f2bd6f52053061,0
2,34981,homework,757599b532c8b8931b60c2e35e853e3da5a0db42,1
2,34981,homework,38ff64d52e7e7c845dd528da33fa20e5fa5930ef,0
2,34981,homework,c49ccf800611ce983a03f2186d142b4f71a5ae67,0
...,...,...,...,...
199,12887,frozen shoulder and mulligan and maitland,f4756a2eedeb8a7cc8dac92dd15d08268e7a482e,0
199,12887,frozen shoulder and mulligan and maitland,14216890095b1a0af5751c962de65fe402373e1d,0
199,12887,frozen shoulder and mulligan and maitland,ab23440c0229ce335ed5d8c949dae88402dbb50b,0
199,12887,frozen shoulder and mulligan and maitland,8b209598b7b8345c898850c161262b5e8fe1e582,1
199,12887,frozen shoulder and mulligan and maitland,fedaac3b27afe7c9be2cf0d65cbc3f37d36c3f78,0
199,12887,frozen shoulder and mulligan and maitland,d556568452ab02fc677722b8f2eac6d8da1b4c44,0
199,12887,frozen shoulder and mulligan and maitland,310c69ef9562a961b7b5f017b3b7f753d5ce3456,0
199,12887,frozen shoulder and mulligan and maitland,f1afe9902739e7545a92b65e197cd71b3f779a35,0
199,12887,frozen shoulder and mulligan and maitland,abcd219ae956c95766f124c042fe8b3728f47877,1
199,12887,frozen shoulder and mulligan and maitland,f6f0758b228b359fa425d12d977d7250d2da0f55,0
199,12887,frozen shoulder and mulligan and maitland,fbb11a841893d4b68fa2173226285ded4f7b04d6,0
199,12887,frozen shoulder and mulligan and maitland,bdc3d618db015b2f17cd76224a942bfdfc36dc73,0
199,12887,frozen shoulder and mulligan and maitland,9b6902404e603eb21566b849bc34e3c12291b820,0
199,12887,frozen shoulder and mulligan and maitland,5c1329c57e7763bd7bee13c58246487c080d80d9,0
199,12887,frozen shoulder and mulligan and maitland,4f53de4a081e4edc866ba45a3951972cba87a1a4,0
199,12887,frozen shoulder and mulligan and maitland,3ae464801732f8b209af853f9c3d5b90c4e85504,0
199,12887,frozen shoulder and mulligan and maitland,bee7a8039b976848c695e726431cf4d785c9cb52,0
199,12887,frozen shoulder and mulligan and maitland,a430365ff8839ff703304c310e5c8cfc3e076d2e,0
199,12887,frozen shoulder and mulligan and maitland,ed1d704865e942b31d533f8298a449f32dcdf690,0
199,12887,frozen shoulder and mulligan and maitland,3739bc58c2f162830c8e9a8db1007c05a9f2c290,0
199,12887,frozen shoulder and mulligan and maitland,791dca46b1625eeb792d94312235a4332273be0c,0
199,12887,frozen shoulder and mulligan and maitland,b0ea8e74d41ad8f6ce98cf1c8c6595cb0705e583,0
199,12887,frozen shoulder and mulligan and maitland,b1165197893cc5f9f393dcae850dd65bc2bfa4d0,0
199,12887,frozen shoulder and mulligan and maitland,6f1a217464a9d465951cc3b5b4751afba2000a80,0
199,12887,frozen shoulder and mulligan and maitland,ceeb4be3f3384e001d68ebbc761c44cf2e4b60b5,0
199,12887,frozen shoulder and mulligan and maitland,78f9eefb29067e17792ffb5801cd872e3f0ec3e4,0
199,12887,frozen shoulder and mulligan and maitland,54c2cd88bdaf425a2befc6d7513d8eaf540bcfee,0
199,12887,frozen shoulder and mulligan and maitland,7fcdace7dcdf40fac377d88c116280ee1b416fcc,0
199,12887,frozen shoulder and mulligan and maitland,446a33cf83184ccd3f8eb29f22544bf25d6d769b,0
199,12887,frozen shoulder and mulligan and maitland,8c7ea227d4322b807f555295c61befdd5a211e9b,0

In [11]:
edf = pd.read_csv(eval_result, sep='\t', names=['key', 'qid', 'value'])
edf = edf.pivot(index='qid', columns='key', values='value')

In [15]:
edf.sort_values(by='difference')

key     difference  disparity  relevance
qid
91643     0.019822   1.006921   0.868206
5191      0.044683   1.448939   1.344147
81479     0.046552   2.044160   1.889465
21237     0.053041   1.358547   1.149610
7363      0.053171   1.313280   1.085770
...            ...        ...        ...
12885     1.941179   1.874742   0.848831
89881     1.987253   1.570899   0.577918
16607     3.034450   2.557715   0.550634
100510    3.252370   2.703133   0.514383
657       3.700546   2.631709   0.255715

[200 rows x 3 columns]

In [19]:
edf[edf.difference > edf.difference.mean()].sort_values(by='difference',ascending=False).head(10)

key     difference  disparity  relevance
qid
657       3.700546   2.631709   0.255715
100510    3.252370   2.703133   0.514383
16607     3.034450   2.557715   0.550634
89881     1.987253   1.570899   0.577918
12885     1.941179   1.874742   0.848831
18060     1.725684   1.519402   0.684165
59483     1.619563   1.586472   0.469430
52501     1.429890   1.625181   0.943276
89569     1.210698   1.378091   0.572047
2438      1.193136   1.397599   0.397092

In [24]:
query_results = rdf[rdf.qid == 657]
query_results

         q_num  qid                                            ranking
24150  161.000  657  [1436449e0234166b13135df45be1f072df059007, 863...
24151  161.100  657  [18f883bd5b9ab9771e561a0214af6bd5ddda0d61, 863...
24152  161.200  657  [e9cfbf58d87e9f5afae813e8b8294b7719c176da, b79...
24153  161.300  657  [128611b63b268a1bffb69d3276a11ae7f6b068d7, 3c9...
24154  161.400  657  [e686c4e74d9085c78813355d582102d973b157cf, b79...
...        ...  ...                                                ...
24295  161.145  657  [2aa5e431cd45476cc0432722dfa003a641790830, b74...
24296  161.146  657  [2aa5e431cd45476cc0432722dfa003a641790830, 358...
24297  161.147  657  [147ef5b31e8a4ac481f429ea7734cdeb001c2089, 2aa...
24298  161.148  657  [48086bd4f74a8d2aa8a51d1b1406fbd0cad67f25, 6b7...
24299  161.149  657  [2aa5e431cd45476cc0432722dfa003a641790830, b79...

[150 rows x 3 columns]

# optie 4

How often is a rel file in a position versus a nonrel file?

In [29]:
# aggregate the position rel/nonrel counts
df = pd.DataFrame({'rank':list(range(1,len(query_results['ranking'].iloc[0])))})

In [47]:
reldf[(reldf.qid == 657) & (reldf.doc_id == '1436449e0234166b13135df45be1f072df059007')].doc_rel.iloc[0]

0

In [52]:
countdict = {}

for idx, row in query_results.iterrows():
    for i,doc in enumerate(row['ranking']):
        if not i + 1 in countdict:
            countdict[i+1] = {'r':0,'nr':0}
        rel = reldf[(reldf.qid == 657) & (reldf.doc_id == doc)].doc_rel.iloc[0]
        if rel == 0:
            countdict[i+1]['nr'] = countdict[i+1]['nr'] + 1
        elif rel == 1:
            countdict[i+1]['r'] = countdict[i+1]['r'] + 1
        else:
            raise ValueError

In [53]:
countdict

{1: {'r': 1, 'nr': 149},
 2: {'r': 7, 'nr': 143},
 3: {'r': 4, 'nr': 146},
 4: {'r': 3, 'nr': 147},
 5: {'r': 4, 'nr': 146},
 6: {'r': 3, 'nr': 147},
 7: {'r': 5, 'nr': 145},
 8: {'r': 4, 'nr': 146},
 9: {'r': 7, 'nr': 143},
 10: {'r': 3, 'nr': 147},
 11: {'r': 7, 'nr': 143},
 12: {'r': 3, 'nr': 147},
 13: {'r': 6, 'nr': 144},
 14: {'r': 6, 'nr': 144},
 15: {'r': 4, 'nr': 146},
 16: {'r': 4, 'nr': 146},
 17: {'r': 6, 'nr': 144},
 18: {'r': 6, 'nr': 144},
 19: {'r': 11, 'nr': 139},
 20: {'r': 11, 'nr': 139},
 21: {'r': 4, 'nr': 146},
 22: {'r': 7, 'nr': 143},
 23: {'r': 8, 'nr': 142},
 24: {'r': 8, 'nr': 142},
 25: {'r': 7, 'nr': 143},
 26: {'r': 11, 'nr': 139},
 27: {'r': 9, 'nr': 141},
 28: {'r': 10, 'nr': 140},
 29: {'r': 6, 'nr': 144},
 30: {'r': 10, 'nr': 140},
 31: {'r': 5, 'nr': 145},
 32: {'r': 8, 'nr': 142},
 33: {'r': 9, 'nr': 141},
 34: {'r': 10, 'nr': 140},
 35: {'r': 9, 'nr': 141},
 36: {'r': 15, 'nr': 135},
 37: {'r': 19, 'nr': 131},
 38: {'r': 14, 'nr': 136},
 39: {'r': 12, 'nr': 138},
 40: {'r': 14, 'nr': 136}}

In [62]:
rankdf = pd.DataFrame([{**{'rank':k},**v}  for k,v in countdict.items()])
rankdf.head()

   rank  r   nr
0     1  1  149
1     2  7  143
2     3  4  146
3     4  3  147
4     5  4  146

In [63]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="ticks", color_codes=True)
titanic = sns.load_dataset("titanic")

In [64]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.0,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
20,0,2,male,35.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
21,1,2,male,34.0,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
22,1,3,female,15.0,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
24,0,3,female,8.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
25,1,3,female,38.0,1,5,31.3875,S,Third,woman,False,NaN,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,0,2,male,21.0,1,0,11.5000,S,Second,man,True,NaN,Southampton,no,False
862,1,1,female,48.0,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
864,0,2,male,24.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
865,1,2,female,42.0,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
866,1,2,female,27.0,1,0,13.8583,C,Second,woman,False,NaN,Cherbourg,yes,False
867,0,1,male,31.0,0,0,50.4958,S,First,man,True,A,Southampton,no,True
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
869,1,3,male,4.0,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False
870,0,3,male,26.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
873,0,3,male,47.0,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
874,1,2,female,28.0,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes,False
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
876,0,3,male,20.0,0,0,9.8458,S,Third,man,True,NaN,Southampton,no,True
877,0,3,male,19.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
881,0,3,male,33.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True